*{
    margin: 0;
    padding: 0;
}
.container img{
    width: 70px;
    height: 70px;
  
}

#navbar{
    background-color: black;
    color: white;
    
    
}
nav a
{
     text-decoration: none;
}
h3.nav{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 17px;
    margin-top: 18px;
    color: white;
    cursor: pointer;
}

#navbu{
    background-color: white ;
    color: #e6a48f;
    font-weight: 500;
    padding: 0px 10px;
    height: 40px;
    
    border-radius: 10px;
    
    
    
}

#dropdownId{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
   margin-bottom: 5px;
    margin-left: 13px;
    margin-right: 10px;
    margin-top: 7px;
    
}
@media(max-width:1000px){
    h3.nav{
        font-size: 15px;
        margin-left: 10px;
        
    }
    #dropdownId{
        font-size: 16px;
        margin-left: 8px;
    }
    #navin{
        width: 130px;
        margin-right: 30px;
        height: 25px;
       

    }
    
    #navbu{
        
        margin-right: 30px;
        height: 25px;
        width: 70px;

        

    }
    .container img{
        width: 70px;
        height: 70px;
        
      
    }
}
@media(max-width:770px){
    h3.nav{
        font-size: 13px;
    }
    #dropdownId{
        font-size: 13px;
        
    }
}
@media(max-width:570px){
    h3.nav{
        font-size: 16px;

    }
    #dropdownId{
        font-size: 16px;
        
    }
    #navin{
        width: 200px;
        margin-top: 10px;
        height: 35px;
    }
    #navbu{
        width: 80px;
        height: 40px;
    }
    
}




/* icons popup*/
#user{
    margin-top: 0px;
   
    text-decoration: none; 
    color: white;
    
}
.icon-user #user{
    margin-left: 14px;
}
@media(max-width:1000px){
    #user{
        display: none;

        
    }
}
@media(max-width:560px){
    #user{
        display: block;
        float: left;
        margin-left: 100px;
        
    }
}


.popup-box{
position: absolute;
top: 45;
margin-top: 6px;
right: 20px;
border-radius: 10px;
border: 1px solid white;
padding: 8px;
width: 220px;
display: none;
z-index: 1000;
transition: all 0.3s ease-in-out;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
background-color: black;
}
.icon-user:hover .popup-box{
   
    display: block;
}
#search{
    margin-top: 0px;
    margin-right: 2%;
    text-decoration: none; 
    color: white;
    margin-left: 1%;

}
.icon-search #search{
 
    margin-left: 10px;
}
@media(max-width:1000px){
    #search{
        display: none;

        
    }
}
@media(max-width:560px){
    #search{
        display: block;
        float: left;
        margin-left: 100px;
        
    }
}


.popups-box{
    position: absolute;
    margin-top: 10px;
    right: 100px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 8px;
    width: 220px;
    background-color: black;
    display: none;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    }
.icon-search:hover .popups-box{
    display: block;
}





/* heading */
.features {
    text-align: center;
    margin-top: 20px;
    
}
.hed{
    font-size: 35px;
}

.hed span{
    background-color: black;
    padding: 0px 15px;
    color: white;
    clip-path: polygon(100% 0%,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}



/* service cards */

.contain{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 360px;
    height: 410px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    transition: 1s;
}
@media(max-width:1150px){
    .contain{
       width: 260px;
        
    }
    
}
@media(max-width:770px){
    .contain{
       width: 360px;
        
    }
    
}

.contain img{
   width:330px;
   height: 190px;
}
@media(max-width:1150px){
.contain img{
    width: 230px;
}
}
@media(max-width:770px){
    .contain img{
        width: 330px;
    }

}
.contain1{
    background-color: rgb(59, 122, 99);
    height: 207px;
    border-radius: 4px;
}
.contain1 h3{
    text-align: center;
    margin-top: 10px;

    color: white;

}
.contain1 p{
    text-align: center;
    margin-top: 15px;
    color: white;

}
.contain button{
    margin-left: 33%;
    padding: 6px 8px;
    margin-top: 2%;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 0px;
    font-weight: 600;
}

.contain:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    transform: translateY(-20px);
}
.contain button:hover{
    background-color: burlywood;
    color: black;


}









/* products */


.images{
    
    /* border: 1px solid black; */
    width: 259px;
    border: 1.5px solid #555;
    margin-top: 20%;
    
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
    transition: 1s;  
}
@media(max-width:1100px){
    .images{
       width: 220px;
       margin-top: 7%;
        
    }
    
}
@media(max-width:950px){
    .images{
       width: 190px;
       
        
    }
    
}
@media(max-width:770px){
    .images{
       width: 259px;
       
        
    }
    
}

.images:hover{
    transform: translateY(-10px);
}
.images img{
    width: 100%;
    border-radius: 10px;
    height: 210px;
    background-color: white;
}
.images h2{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
    color: white;
}

.images p{
    text-align: center; 
    margin-top: 10px;
    font-weight: 500;
    
}
.add{
    background-color: black;
    cursor: pointer;
    padding: 5px 0px;
}
.add a{
   margin-left: 40%;
   margin-top: 0px; 
   text-decoration: none; 
   color: white;
   
    
    
}






/* contact us */
.contact-us{
    margin-top: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.contac{
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 30px;
}
.cont{
  text-align: center;
  margin-top: 20px;
}





.inputo{
    text-align: center;
}


.mb2{
   
    margin-top: 30px;
    text-decoration: underline;
}
.mb2 input{
    padding: 5px 16px;
    border: none;
    text-decoration: underline;
    border: 1px solid black;
    border-radius: 8px;
    width: 350px;
}

.mb3{
   
    margin-top: 30px;
    
    text-decoration: underline;
}
.mb3 input{
    padding: 5px 16px;
    border: none;
    text-decoration: underline;
    border: 1px solid black;
    border-radius: 8px;
    width: 350px;
}
.mb4{
    margin-right: 6px;
    margin-top: 30px;
    margin-left: px;
   
    
}
.mb4 textarea{
    padding: 7px 15px;
    border-radius: 20px;
    border: 2px solid black;
}
.mb5{
    margin-top: 20px;
   
    margin-bottom: 10px;
}
.mb5 button{
    padding: 7px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    
}
#mail{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    transition: 1.5s;
    font-size: 20px;
    
}
#mail:hover{
    transform: translateY(-4px);
    color: rgba(31, 103, 186, 0.991);
   
}
#location{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    transition: 1.5s;  
}
#location:hover{
    transform: translateY(-4px);
    color: rgba(31, 103, 186, 0.991);
   
}
#phone{
    text-decoration: none;
    margin-right: 10px;
    transition: 1.5s;
    color: black;
}
#phone:hover{
    transform: translateY(-4px);
    color: rgba(31, 103, 186, 0.991);
   
}


/* Aboutus */
.About{
    width: 280px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
   
}
@media(max-width:1160px){
    .About{
        width: 190px;
    }
}
@media(max-width:765px){
    .About{
        width: 280px;
    }
}

.imgA{
    width: 150px;
}
.imgA img{
    margin-left: 37%;
    border-radius: 100%;
    width: 160px;
    height: 150px;
    margin-top: 13%;
    
    background-position: center;
}
@media(max-width:1160px){
    .imgA img{
        margin-left: 15px;
    }
}
@media(max-width:765px){
    .imgA img{
        margin-left: 37%;
    }
}
.us h3{
    text-align: center;
    margin-top: 8%;
    font-size: 25px;
    font-weight: 500;
}
.us p{
    text-align: center;
    margin-top: 6%;
    font-size: 17px;
    font-weight: 400;
}
.linking{
    background-color: #2d2e33;
    margin-top: 40px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.linking a{
    margin-left: 37px;
    margin-top: 0px;
    margin-right: 2%;
    text-decoration: none; 
    color: white;
}
.linking a i:hover{
      background-color: #e6a48f;
}
.star{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
   







/* filters */
.card-body{
    background-color: burlywood;
    
}
#filter-buttons button {
    border-radius: 3px;
    background: #fff;
    border-color: transparent;
  }
  
  #filter-buttons button:hover {
    background: #ddd;
  }
  
  #filter-buttons button.active {
    color: #fff;
    background: #6c757d;
  }
  
  #filterable-cards .card {
    width: 15rem;
    border: 2px solid transparent;
  }
  
  #filterable-cards .card.hide {
    display: none;
  }
  
  @media (max-width: 600px) {
    #filterable-cards {
      justify-content: center;
    }
  
    #filterable-cards .card {
      width: calc(100% / 2 - 10px);
    }
  }
  .hide {
    display: none;
}



/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    border-radius: 20px;
    border: 2px solid gray;
    
}
ul{
    list-style-type: none;
}
.footer-col{
    width: 25%;
    
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 10px;
}
.footer-col  h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}
ul li:not(:last-child){
    margin-bottom: 8px;
}
ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    
    
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.9);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.5s;
}
.links a:hover{
    color: #4d4f55;
    background-color: white;
}
#contact1{
    margin-left: 25%;
}
.des p{
    color: white;
    text-align: center;
    margin-right: 10px;
}




@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .footer-col h4::before{
        all: unset;
    }
}
@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}