*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    display: flex;
    height: 80px;
    width: 100%;
}
.log{
    width: 120px;
    height: 60px;
    margin-top: 10px;
    border-radius: 70px;
    background-color: black;
    margin-left: 14px;

}
#navbar{
    background-color: black;
    color: white;
}

h3.nav{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 17px;
    color: white;
}

#dropdownId{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-right: 10px;
    
}

.icon-user,a{
    margin-top: 7px;
    margin-right: 2%;
    text-decoration: none; 
    color: white;

}

.popup-box{
position: absolute;
top: 45;
margin-top: 10px;
right: 20px;
border-radius: 10px;
border: 1px solid white;
padding: 8px;
width: 220px;
display: none;
z-index: 1000;
transition: all 0.3s ease-in-out;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}
.icon-user:hover .popup-box{
  
    display: block;
}
.icon-search{
    margin-top: 7px;
    margin-right: 2%;
    text-decoration: none; 
    color: white;
    margin-left: 1%;

}
.popups-box{
    position: absolute;
    margin-top: 10px;
    right: 100px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 8px;
    width: 220px;
    display: none;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    }
.icon-search:hover .popups-box{
    display: block;
}






















.features {
    text-align: center;
    margin-top: 20px;
    
}
.hed{
    font-size: 35px;
}

.hed span{
    background-color: black;
    padding: 0px 15px;
    color: white;
    clip-path: polygon(100% 0%,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.contain{
    border: 1px solid black;
    
    margin-top: 7%;
    width: 360px;
    height: 400px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transition: 1s;
}
.contain img{
    margin-left: 70px;
}
.contain h3{
    text-align: center;
    margin-top: 8px;

}
.contain p{
    text-align: center;
    margin-top: 15px;

}
.contain button{
    margin-left: 30%;
    padding: 6px 25px;
    margin-top: 2%;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 0px;
    font-weight: 600;
}
.contain:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    transform: translateY(-20px);
}
.contain button:hover{
    background-color: burlywood;
    color: black;


}
.butn{
    margin-top: 50px;
    
}
.bton{
    margin-top: 20px;
}
.btn4{
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    border: 0px;
    border-radius: 8px;
    text-transform: uppercase;
}
.btn5{
    margin-left: 10px;
    background-color:slategrey;
    color: white;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    border: 0px;
    text-transform: uppercase;
    border-radius: 8px;
    
}
.btn6{
    margin-left: 10px;
    background-color: tomato;
    color: white;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    border: 0px;
    text-transform: uppercase;
    border-radius: 8px;
}
.btn7{
    margin-left: 10px;
    background-color:teal;
    color: white;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    border: 0px;
    border-radius: 8px;
    text-transform: uppercase;
}
.btn8{
    margin-left: 29px;
    background-color: tan;
    color: black;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    border: 0px;
    border-radius: 8px;
    text-transform: uppercase;
}
.btn0{
    margin-left: 10px;
    background-color: seagreen;
    color: black;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    border: 0px;
    text-transform: uppercase;
    border-radius: 8px;
   
}
.air h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.images{
    
    /* border: 1px solid black; */
    width: 210px;
    margin-top: 3%;
    margin-left: 3%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    border-radius: 20px;
}
.images:hover{
    transform: translateY(-10px);
}
.images img{
    width: 205px;
    border-radius: 20px;
    height: 200px;
}
.images h3{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.images p{
    text-align: center; 
    margin-top: 10px;
}



.images span{
    font-size: 15px;
    text-decoration: line-through;
    margin-left: 3%;
}
.images button{
    width: 100%;
    background-color: black;
    color: white;
    padding: 6px 0px;
    border-radius: 10px 20px;
    border: 0px;
 
}



.response {
    float: right;
    margin-top: 24px;
    margin-left: 20px;
    display: none;
    
}





